[client]
default-character-set = utf8
port		= 3306
socket		= /var/lib/mysql/mysql.sock

[mysqld]
expire_logs_days = 31
transaction-isolation=READ-COMMITTED
character-set-server = utf8
datadir=/var/lib/mysql 
skip-character-set-client-handshake
slow_query_log=1 
slow_query_log_file=/var/log/mysql/slow_query.log
long_query_time=1 
min_examined_row_limit=1000
port		= 3306
socket		= /var/lib/mysql/mysql.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
log-bin=mysql-bin
binlog_format=mixed
server-id	= 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
default-character-set = utf8
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
syslog

